#navbar{
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-evenly;
  height:2em;
  align-items: center;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}
